<h1 mat-dialog-title>{{ !model.id ? 'Add New Item' : 'Update Item' }}</h1>
<div mat-dialog-content fxLayoutGap="10px">
  @if (!model.isInstallment) {
    <mat-form-field>
      <mat-label>Entry Type</mat-label>
      <mat-select [(ngModel)]='model.entryType'>
        @for (item of sheetItemEntryType | enumpipe; track item) {
          <mat-option
          [value]="item.key">{{item.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  @if (model.entryType == sheetItemEntryType.Payment) {
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]='model.category'>
        @for (item of sheetItemCategory | enumpipe; track item) {
          <mat-option [value]="item.key">{{item.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="model.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="model.description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allocated Amount (RM)</mat-label>
    <input matInput [(ngModel)]="model.allocated">
  </mat-form-field>
  @if (model.isInstallment) {
    <mat-form-field>
      <mat-label>From Month</mat-label>
      <input matInput [(ngModel)]="model.installmentStartMonth">
    </mat-form-field>
  }
  @if (model.isInstallment) {
    <mat-form-field>
      <mat-label>From Year</mat-label>
      <input matInput [(ngModel)]="model.installmentStartYear">
    </mat-form-field>
  }
  @if (model.isInstallment) {
    <mat-form-field>
      <mat-label>To Month</mat-label>
      <input matInput [(ngModel)]="model.installmentEndMonth">
    </mat-form-field>
  }
  @if (model.isInstallment) {
    <mat-form-field>
      <mat-label>To Year</mat-label>
      <input matInput [(ngModel)]="model.installmentEndYear">
    </mat-form-field>
  }

  @if (model.id) {
    <mat-slide-toggle class="example-margin" color="primary" [checked]="!model.isDeactivated"
      (change)="model.isDeactivated = !model.isDeactivated">
      Active
    </mat-slide-toggle>
  }
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="isUpdating" (click)='upsert()' cdkFocusInitial>{{ model.id > 0
    ? 'Update' :
  'Create' }}</button>
</div>