<!-- <h2>{{ title }}</h2> -->

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{ i + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{ sheetItemCategory[element.category] }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{ sheetItemEntryType[element.entryType] }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}}
            <mat-icon *ngIf="element.description" [matTooltip]="element.description">info</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="allocated">
        <th mat-header-cell *matHeaderCellDef> Allocated </th>
        <td mat-cell *matCellDef="let element"> {{element.allocated | number:'1.2-2' }} </td>
    </ng-container>

    <ng-container matColumnDef="fulfilled">
        <th mat-header-cell *matHeaderCellDef> Fulfilled </th>
        <td mat-cell *matCellDef="let element"> {{element.fulfilled | number:'1.2-2' }} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{ element.allocated - element.fulfilled | number:'1.2-2' }} </td>
    </ng-container>


    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <mat-icon *ngIf="element.isCompleted">check</mat-icon>
                <div fxLayout="column" style="text-wrap: wrap;">
                    <span style="font-weight: bold;">{{element.name}}</span>
                    <span style="font-size: small;">Allocated: {{element.allocated | number:'1.2-2' }}</span>
                    <span style="font-size: small;">Fulfilled: {{element.fulfilled | number:'1.2-2' }}</span>
                    <span style="font-size: small;">Balance: {{ element.allocated - element.fulfilled | number:'1.2-2'
                        }}</span>
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openSheetItemDialog(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openSheetItemEntryDialog(element)">
                    <mat-icon>done_all</mat-icon>
                    <span>Quick Complete</span>
                </button>
                <button mat-menu-item (click)="openPartialSheetItemEntryDialog(element)">
                    <mat-icon>playlist_add</mat-icon>
                    <span>Partial Entry</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="element.sheetItemEntries && element.sheetItemEntries.length > 0" mat-icon-button
                aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element"
            [attr.colspan]="!_global.mobileQuery.matches ? columnsToDisplayWithExpand.length : columnsToDisplayWithExpandM.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-list role="list" style="width: 100%;">
                    <div *ngFor="let item of element.sheetItemEntries">
                        <mat-list-item role="listitem">
                            <mat-icon matListItemIcon>subdirectory_arrow_right</mat-icon>
                            <div matListItemTitle style="text-wrap: wrap;">
                                {{item.transactionDate | date:'d MMM yyyy'}}
                            </div>
                            <span matListItemLine>{{ item.description }}</span>
                            <span matListItemLine>{{ item.amount}}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row [hidden]="_global.mobileQuery.matches"
        *matHeaderRowDef="!_global.mobileQuery.matches ? columnsToDisplayWithExpand : columnsToDisplayWithExpandM">
    </tr>
    <tr mat-row
        *matRowDef="let element; columns: !_global.mobileQuery.matches ?  columnsToDisplayWithExpand : columnsToDisplayWithExpandM;"
        class="example-element-row" [class.example-expanded-row]="expandedElement === element"
        [class.strikethrough]="element.isCompleted && !_global.mobileQuery.matches"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"> </tr>
</table>