@use '@angular/material'as mat;

// Be sure that you only ever include this mixin once!
@include mat.core();


// Define a light theme
$light-primary: mat.define-palette(mat.$deep-purple-palette);
$light-accent:  mat.define-palette(mat.$teal-palette, A200, A100, A400);
$light-theme:   mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  ),
));

// Include the light theme styles inside a CSS class
.theme-light {
  @include mat.all-component-themes($light-theme);
}


// light: deep-orange / brown
$light-deep-orange-brown-primary: mat.define-palette(mat.$deep-orange-palette);
$light-deep-orange-brown-accent:  mat.define-palette(mat.$brown-palette, A200, A100, A400);
$light-deep-orange-brown-theme:   mat.define-light-theme((
  color: (
    primary: $light-deep-orange-brown-primary,
    accent: $light-deep-orange-brown-accent,
  ),
));

// Include the light theme styles inside a CSS class
.theme-light-deeporange-brown {
  @include mat.all-component-themes($light-deep-orange-brown-theme);
}

// dark: palestine
$light-palestine-primary: mat.define-palette(mat.$green-palette, 700);
$light-palestine-accent:  mat.define-palette(mat.$red-palette, 700);
$light-palestine-theme:   mat.define-light-theme((
  color: (
    primary: $light-palestine-primary,
    accent: $light-palestine-accent,
  ),
));

// Include the light theme styles inside a CSS class
.theme-light-palestine {
  @include mat.all-component-themes($light-palestine-theme);
}


// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent:  mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$dark-theme:   mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  ),
));

// Include the dark theme styles inside a CSS class
.theme-dark {
  @include mat.all-component-themes($dark-theme);
}

// dark: deep-orange / brown
$dark-deep-orange-brown-primary: mat.define-palette(mat.$deep-orange-palette);
$dark-deep-orange-brown-accent:  mat.define-palette(mat.$brown-palette, A200, A100, A400);
$dark-deep-orange-brown-theme:   mat.define-dark-theme((
  color: (
    primary: $dark-deep-orange-brown-primary,
    accent: $dark-deep-orange-brown-accent,
  ),
));

// Include the light theme styles inside a CSS class
.theme-dark-deeporange-brown {
  @include mat.all-component-themes($dark-deep-orange-brown-theme);
}

// dark: palestine
$dark-palestine-primary: mat.define-palette(mat.$green-palette, 700);
$dark-palestine-accent:  mat.define-palette(mat.$red-palette, 700);
$dark-palestine-theme:   mat.define-dark-theme((
  color: (
    primary: $dark-palestine-primary,
    accent: $dark-palestine-accent,
  ),
));

// Include the light theme styles inside a CSS class
.theme-dark-palestine {
  @include mat.all-component-themes($dark-palestine-theme);
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Bootstrap Icons SCSS file. */
@import "node_modules/bootstrap-icons/font/bootstrap-icons";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  height: 100%;
}

.color-plus{
 color: #00b894;
}

.color-minus{
  color: #d63031;
}