.plr-3{
  padding-left: 3em;
  padding-right: 3em;
}

.ptb-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.app-container{
  height: 100%;
  display: block;
}

.height-100{
  height: 100%;
}

.user-name{
  background-color: inherit !important;
  cursor: default !important;
}